section, footer {
  margin-bottom: 4rem;
}

.center {
  margin: 0 auto;
}

/* For browsers that don't support css grid

@supports not (display: grid) {
  #intro .gridContainer {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    min-height: 100vh;
  }

  #intro .logo {
    padding-top: 10rem;
    align-self: end;
  }

  #intro .welcome {
    max-width: 75%;
    padding-top: 28rem;
    align-self: end;
  }

  #biography .gridContainer {
    display: flex;
    flex-direction: row;

    max-width: 960px;
    height: auto;
  }

  #biography .heading {
    padding-bottom: 6rem;
  }

  #biography .leftContent {
    max-width: 48%;
  }

  #biography .rightContent {
    max-width: 48%;
  }

  #services .gridContainer {
    display: flex;
    max-width: 960px;
    height: auto;
  }

  #services .heading {
    padding-bottom: 6rem;
  }

  #services .statement {
    max-width: 75%;
  }

  #works .gridContainer {
    max-width: 960px;
    display: flex;
    flex-direction: column;
  }

  #works .heading {
    padding-bottom: 6rem;
  }

  #works .worksContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
  }
}
*/

@supports (display: grid) {
  #intro .gridContainer {
    display: grid;
    max-width: 960px;
    min-height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 5fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  #intro .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
  }

  #intro .welcome {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
    padding-bottom: 6rem;
  }

  #biography .gridContainer {
    display: grid;
    max-width: 960px;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2.5fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  #biography .heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 6rem;
  }

  #biography .leftContent {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding-right: 4rem;
  }

  #biography .rightContent {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding-top: 12rem;
    padding-left: 4rem;
  }

  #services .gridContainer {
    display: grid;
    max-width: 960px;
    height: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  #services .heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 6rem;
  }

  #services .statement {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #works .gridContainer {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  #works .heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 6rem;
  }

  #works .worksContainer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 4rem;
    align-items: center;
    justify-items: center;
  }

  #contact .gridContainer {
    display: grid;
    max-width: 960px;
    min-height: 500px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  #contact .heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #contact .leftContent {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #contact .rightContent {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    text-align: center;
    align-self: center;
  }

  footer .gridContainer {
    display: grid;
    max-width: 960px;
    min-height: 3rem;
    grid-template-columns: 1fr 1fr 21fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
  }

  footer .facebookLogo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  footer .instagramLogo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  footer .details {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  footer .footerLogo {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
}

.svgLogo {
  width: 90px;
}

.photo img {
  height: 300px;
  object-fit: cover;
}

.photo img:hover {
  opacity: 0.75;
}

.circle {
  width: 70%;
  border-radius: 50%;
}

footer img {
  width: 2rem;
}

footer .footerLogo img {
  width: 3rem;
}

@media (max-width: 1000px) {
  #intro .gridContainer {
    max-width: 85vw;
  }

  .svgLogo {
    width: 80px;
  }

  #biography .gridContainer {
    max-width: 85vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
  }

  #biography .leftContent {
    padding-right: 2rem;
  }

  #biography .rightContent {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding-left: 2rem;
  }

  #services .gridContainer {
    max-width: 85vw;
  }

  #works .gridContainer {
    max-width: 85vw;
  }

  #works .worksContainer {
    grid-template-columns: 1fr 1fr;
  }

  #contact .gridContainer {
    max-width: 85vw;
  }

  footer .gridContainer {
    max-width: 85vw;
  }
}

@media (max-width: 600px) {
  .svgLogo {
    width: 70px;
  }

  #biography .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  #biography .leftContent {
    padding-right: 0;
  }

  #biography .rightContent {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 0;
  }

  #services .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  #works .worksContainer {
    grid-template-columns: 1fr;
  }

  .photo img {
    max-width: 100%;
    height: auto;
  }

  #contact .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  #contact .leftContent {
    padding-top: 8rem;
  }

  #contact .rightContent {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 4rem;
  }

  footer .details {
    padding-top: 0.5rem;
  }

  .circle {
    width: 50%;
  }
}
